body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: #6F6AF7;
    display: flex;
    justify-content: space-around;
    padding: 0.3vh;
    width: 100%;
    font-size: large;
    color:white;
    position: fixed;
    top: 0;   
}
.nav-search{
    padding: 1vh;
    font-size: small;
    border-radius: 10vh;
    background: white url("images/search.png") no-repeat 10.5em;
    border:  1px solid rgb(174, 171, 171);
}
.nav-img{
    padding-top: 3vh; 
    height: 5vh;
}



.first-section{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    margin-top: 20vh;
}

.first-section-img{
    height: 100%;
    width: 27%;
    border-radius: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first-section-div{
    background-color: #E5D8FF;
    height: 85%;
    width: 45%;
    border-radius: 0.8em;
    padding: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.social-media{
    display: flex;
    flex-direction: column;
    margin-top: 9em;
    float: right;
    display:inline-flex;
    width: 4%;
    position: sticky;
    top:7em;
    cursor: pointer;
}
.social-media > img {
    width: 90%;
    margin-bottom: 0.5vh;

}
.social-media-img{
    border: 2px solid black;
    border-radius: 5px;
}
.chat-bot{
    position: fixed;
    bottom: 2vh;
    right: 1.5vw;
    width: 8%;
    
}
.second-section{
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.cards{
    height: 15vh;
    width: 10vw;
    border-radius: 2.5vh;
    padding: 2vh;
    text-align: center;
    font-size: medium;
    color: aliceblue; 
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    cursor: pointer;

}
.cards:hover{
    padding: 3vh;
    animation-timing-function: ease;
    animation-duration:2s;

}
#first-card{
    background-color: #929DFF;
}
#second-card{
    background-color: #734CF2;
}
#third-card{
    background-color: #D288FF;
}
#forth-card{
    background-color: black;
}

.third-section{
    margin:15vh;
    background-color: #483EFF;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 3vh;
    padding: 5%;
    height: 60vh;

}

.third-section-left-div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}
/* .third-section-left-div > #first-child{
    color: black;
    background-color: #BCE0F6;
} */

.blocks{
    color: white;
    height: 20%;
    width: 70%;
    padding: 10%;
    text-align: center;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3vh;
    border: 0.7vh solid whitesmoke; 
    margin: 5%;
    
}
.blocks:hover{
    color: black;
    background-color: #BCE0F6;
    border: 0.7vh solid #BCE0F6;
    cursor: pointer;

    
}

.third-section-right-div{
    background-color: whitesmoke;
    font-size: medium;
    width: 55%;
    padding: 3%;
    border-radius: 3vh;
    position: relative;
}
.third-section-right-div > div{
    position: absolute;
    bottom: 2%;
    width: 90%;
}

.third-section-right-div > div > button{
    float: right;
    color: white;
    background-color: black;
    width: 9vw;
    border-radius: 1.5vh;
    font-size: medium;
    padding: 1vh;
    top: 3em;
    left: 25em;
    cursor: pointer;
}

.third-section-right-div > div >button > img{
    height: 1.5vh;
    width: 1.5vw;    
}



/* ------------------------------------    MEDIA QUERIES  ---------------------------------------- */

@media (max-width:550px){
    nav{
        font-size: small;
    }
    nav > .search{
        display: none;
    }
    nav > .about{
        display: none;
    }
    nav > .more{
        display: none;
    }
    nav{
        padding: 0.3vh;
        font-size: small;
    }
    .nav-img{
        padding-top: 2vh; 
        height: 2vh;

    }
    .social-media{
        width: 5%;
    }
    .first-section{
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        height: 60vh;
        width: 75%;
        font-size: small;
        margin:5em;
    }
    .first-section-img{
        width:85%;
        height: 50%;
    }
    .first-section-div{
        width:80%;
        height: 40%;
        padding: 1vh;
    } 
    .second-section{
        flex-wrap: wrap;
        width: 60%;
        margin-top: 0;
        margin-left: 15vw;
    }
    .cards{
        height: 15vh;
        width:16vw ;
        padding: 5%;
        margin: 1vh;
        text-align: center;
        font-size: smaller;
        
    }
    


    .third-section{
        flex-direction: column;
        margin:5vh;
        height: 70vh;
        padding: 5%;
    
    }
    .third-section-left-div{
        height: 35%;
        width: 90%;
        padding: 2%;
        margin:5%;
        align-content: space-around;
        justify-content: space-around;
    }
        
    .blocks{
        width:85%;
        height: 10%;
        padding: 2%;
        margin:2%;
        font-size: small; 
        border: 0.3vh solid white;  
    }
    .third-section-right-div{
        font-size: smaller;
        height: 40%;
        width:90%;
        margin:5%;
        padding: 2%;
    }

    .third-section-right-div >div> button{
        width:12vw;
        font-size: smaller;
    }
    .third-section-right-div >div> button> img{
        width: 2vw;
    }
    

    .chat-bot{
        width: 15%;
        
    }





}






@media (max-width:800px) and (min-width:550px){
    nav{
        padding: 0.3vh;
        font-size: medium;
    }
    
    .nav-img{
        padding-top: 2vh; 
        height: 4vh;
    }
    

    nav > .about{
        display: none;
    }
    nav > .more{
        display: none;
    }
    .first-section{
        height: 55vh;
    }
    .first-section-img{
        height:70%;
        width: 40%;
    }
    .first-section-div{
        height: 60%;
        width:40%;
        font-size: small;
        padding: 2.5vh;
    
    }
    .second-section{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cards{
        height: 13vh;
        width:14vw ;
        text-align: center;
        font-size: smaller;
        
    }
    .third-section{
        margin:5vh;
        height: 45vh;
    
    }
    
    .blocks{
        font-size: medium; 
        border: 0.5vh solid white;  
    }
    .third-section-right-div{
        font-size: small;
    }
    .third-section-right-div > button{
        width: 12vw;
        font-size: small;
    }
    .chat-bot{
        width: 10%;
        
    }
    
}

